black==26.1.0
click==8.3.1
distlib==0.4.0
filelock==3.24.3
mypy-extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.2
pluggy==1.6.0
pylint==4.0.5
pyparsing==3.3.2
six==1.17.0
toml==0.10.2
tomli==2.4.0
tox==4.46.3
virtualenv==20.39.1
