black==25.9.0
click==8.3.0
distlib==0.4.0
filelock==3.19.1
mypy-extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.4.0
pluggy==1.6.0
pylint==4.0.1
pyparsing==3.2.5
six==1.17.0
toml==0.10.2
tomli==2.2.1
tox==4.30.3
virtualenv==20.34.0
