black==25.12.0
click==8.3.1
distlib==0.4.0
filelock==3.20.3
mypy-extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.5.1
pluggy==1.6.0
pylint==4.0.4
pyparsing==3.3.2
six==1.17.0
toml==0.10.2
tomli==2.4.0
tox==4.34.1
virtualenv==20.36.1
