name: pgspot
on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  pgspot:
    name: TimescaleDB
    runs-on: ubuntu-latest

    steps:

    - name: Setup python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install pglast

    - name: Checkout pgspot
      uses: actions/checkout@v2

    - name: Checkout timescaledb
      uses: actions/checkout@v2
      with:
        repository: 'timescale/timescaledb'
        path: 'timescaledb'

    - name: Build timescaledb sqlfiles
      run: |
        cd timescaledb
        ./bootstrap
        make -C build sqlfile # sqlupdatescripts
        ls -la build/sql/timescaledb--*.sql

    # time_bucket with offset is intentional without explicit search_path to allow for inlining
    # _timescaledb_internal.policy_compression and _timescaledb_internal.policy_compression_execute
    # do not have explicit search_path because this would prevent them doing transaction control
    - name: Run pgspot
      run: |
        python pgspot \
          --proc-without-search-path 'extschema.time_bucket(bucket_width interval,ts timestamp,"offset" interval)' \
          --proc-without-search-path 'extschema.time_bucket(bucket_width interval,ts timestamptz,"offset" interval)' \
          --proc-without-search-path 'extschema.time_bucket(bucket_width interval,ts date,"offset" interval)' \
          --proc-without-search-path 'extschema.recompress_chunk(chunk regclass,if_not_compressed boolean = FALSE)' \
          --proc-without-search-path '_timescaledb_internal.policy_compression(job_id integer,config jsonb)' \
          --proc-without-search-path '_timescaledb_internal.policy_compression_execute(job_id integer,htid integer,lag anyelement,maxchunks integer,verbose_log boolean,recompress_enabled boolean)' \
        timescaledb/build/sql/timescaledb--*.sql

